<h1>All my cocktails</h1>

<% @cocktails.each do |c| %>
  <p><%= c.name %></p>
  <p><%= link_to "See more", cocktail_path(c)  %></p>
<% end %>

<p><%= link_to "Add a cocktail", new_cocktail_path %></p>
